/* video display dont fuck with */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
}

.myVideo {
  position: fixed;
  align-self: center;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  display: cover;
}

.content {
  position: relative;

}







/*nav bar desktop */
a:hover {
  text-decoration: none;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;

}




html, body {
margin:0;
padding:0
}


.red {
  background: red;
}

.displaynone {
  visibility: hidden;
}

.topboy {
  padding-top: 8vw;
}


.bold {
  font-weight: bold;
}

/*desktop large text*/

.wrapper{

  padding-left: 17vw;
  text-align: left;
  padding-right: 30vw;
  padding-bottom: 10vw;
}

.bigtext{
  font-size: 9vw;
  font-kerning: normal;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: -.023em;
  color: white;
  line-height: 1.05;
}

.grey {
  background-color:red;
}
.black {
  color: black;
}
.white{
  color: white;
}


/*destop individual work page*/
.headerwork {
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;
  width:100%;
  text-align: left;
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
  background-color: white;
  color:black;
  font-size: 16px;
  position: fixed;
  font-family: helvetica;
  z-index: 10;
}
#jonathan{
  transition: transform 200ms ease;
}
#jonathan:hover {
  transform: skewX(10deg);

}

#about{
  transition: transform 200ms ease;
}
#about:hover {
  transform: skewX(10deg);

}

.imagepaddding{
  padding-top: 40px;
}

.title {
  font-size: 5vw;
  font-kerning: normal;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: -.023em;
  color: black;
  line-height: 1.05;
}

.titletopboy {
  padding-left: 6.5vw;
  font-size: 48px;
  font-kerning: normal;
  font-family: helvetica;
  font-weight: normal;
  font-style: oblique;
  letter-spacing: -.023em;
  color: black;
  line-height: 1.05;
  text-align: left;
  position: fixed;
  color: white;
  letter-spacing: 0.1;
}
.wrappergrid{
  display: grid;
  grid-gap:1em;
  grid-template-columns:3 1fr;
  object-fit: scale-down;
  max-width: 100%;
  height:auto;
  background-size: cover;
  padding: 0em;
}
img {
  width: 100%;
  height: auto;
}
.wrappergrid > div{
  background: none;
  padding:0;
}
/* info slide-up*/

.info {
  background-color:black;
  padding-left: 6.5vw;
  font-size: 48px;
  font-kerning: normal;
  font-family: helvetica;
  font-weight:normal;
  font-style: oblique;
  letter-spacing: -.023em;
  color: white;
  line-height: 1.05;
  text-align: left;
  position: fixed;
  letter-spacing: 0.1;
}


div.purple {

  column-count: 2;
  column-gap: 1.5em;
  padding: 8vw;
  background-color: black;
  color: white;
  font-family: helvetica;
  font-size: 30px;
  font-weight: bold;
  top:70px;
  position:fixed;
  width: 100vw;
  margin: 0px;
  line-height: 1.2;

}

/*all the buttons! */

button {
    bottom: 30px;
    left: 6.5vw;
    position: fixed;
    color: white;
    border: none;
    padding: 0.1rem;
    margin: 0;
    font-size: 30px;
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition:  transform 500ms ease;
    background: black;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}


button:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

button:hover {
    transform: rotate(360deg);
    background-color: white;
    color: black;
}




/* button for info */
button.info {
    bottom: 30px;
    left: 35px;
    position: fixed;
    color: white;
    border: none;
    padding: 0.1rem;
    margin: 0;
    font-size: 30px;
    text-decoration: none;
    font-family: helvetica;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition:  transform 500ms ease;
    background: black;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}


button.info:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

button.info:hover {
    transform: rotate(360deg);
    background-color: white;
    color: black;
}

button.contact {
    bottom: 30px;
    left: 300px;
    position: fixed;
    color: white;
    border: none;
    padding: 0.1rem;
    margin: 0;
    font-size: 30px;
    text-decoration: none;
    font-family: helvetica;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition:  transform 500ms ease;
    background: black;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}


button.contact:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

button.contact:hover {
    transform: rotate(360deg);
    background-color: white;
    color: black;
}


.hidden {
  display: none;
}

.show {
  display: normal;
}


/* switch to mobile */

@media(max-width: 700px) {
/*nav bar mobile */
.header {
  padding-top: 2.5vw;
  padding-left: 5.5vw;
  padding-bottom: 2.5vw;
  width:100%;
  text-align: left;
  background-color: none;
  color:black;
  font-size: 15px;
  position: fixed;
  font-family: helvetica;
}

.displaynone {
  visibility: hidden;
}

/*mobile large text*/
  .bigtext{
    font-size: 17vw;
    letter-spacing: -.015em;
    font-kerning: normal;
    line-height: 1;
  }
  .wrapper{
    padding-left: 6.5vw;
    padding-bottom: 15vw;
    text-align: left;

  }
  .topboy {
    padding-top: 16vw;
  }

  .wrappergrid{
    display: grid;
    grid-gap:1em;
    grid-template-columns: 1fr;
    object-fit: scale-down;
    max-width: 100%;
    height:auto;
    background-size: cover;
    padding: 0em;
  }
  .titletopboy {
    padding-top: 90vh;
    padding-left: 6.5vw;
    font-size: 32px;
    font-kerning: normal;
    font-family: helvetica;
    font-weight:normal;
    font-style: oblique;
    letter-spacing: -.023em;
    color: black;
    line-height: 1.05;
    text-align: left;
    position: fixed;
    color: white;
    letter-spacing: 0.1;
  }
