
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: -3;
    background: #eeeeee;
}

.myVideo {
  position: fixed;
  align-self: center center;
  z-index:-1;
  bottom: 0;
  top:0;
  min-width: 100%;
  min-height: 100%;
  display: cover;
}

.content {
  position: relative;
}

video {
  width: 100%    !important;
   height: auto   !important;
  object-fit: cover;
}


.close {
  z-index: 500;
  display: flex;
  position: fixed;
  top: 45px;
  left: 9vw;
  height:auto;
  width: auto;
  background: transparent;
}

.rotate {
  transform: rotate(45deg);
}

.popup {
  display: flex;
  width:100vw;
  height: 100vh;
  top: 0;
  z-index: 100;
  position: fixed;
  justify-content: center;
  align-content: center;
  background-color: #030303;
}

.navcenter {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  margin-top:60vh;
  margin-left: 8vw;
  height: 100%;
  width: auto;
}

.navitem {
  display: flex;
  justify-content: left;
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 50px;
  font-family: Helvetica;
  font-weight: normal;
  line-height: 1;

}


.navitem:hover {
  text-decoration: line-through;

}


#show {
  display: normal;
}

#noshow {
  display: normal;
}

.header {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  right: 9vw;
  top: 56px;
  font-size: 50px;
  font-family: Helvetica;
  font-weight: normal;
  color: white;
}


button {
  border-radius: 25px;
  width: 90px;
  height: 45px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
  background: #00acee;
  border: none;
  transition: 100ms ease;
}

button:hover{
  color: grey;
}

button.none {
  background: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  height: auto;
  top: 55px;
  left: 9vw;
  font-size: 50px;
}

.independant {
  display: flex;
  position: fixed;
  top: 45px;
  left: 9vw;
  height:auto;
  width: auto;
  background: transparent;
}

.hamburger {
  display: flex;
  height: 30px;
  width: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-top: 56px;
  margin: 50px;
  justify-content: center;
  padding-top: 50px;
}

.wrapperpadding {
  display: flex;
  padding: 8px;
}

.hidden {
  visibility: none;
  display: none;
}
